<form [formGroup]="editarPerfil" (ngSubmit)="manejarModificacion()">
    <h1>Editar Perfil</h1>
    <fieldset>
        <label for="nombreEditado">Nombre</label>
        <input type="text" id="nombreEditado" placeholder="Ingrese el nuevo nombre" formControlName="nombre">
        @if (editarPerfil.get('nombre')?.touched) {
            @if(editarPerfil.controls['nombre'].errors?.['required']){
                <p>El nombre es obligatorio</p>
            } @else if(editarPerfil.controls['nombre'].errors?.['maxlength']){
                <p>El nombre debe tener como máximo 50 caracteres</p>
            }
        }
    </fieldset>    
    <fieldset>
        <label for="apellidoEditado">Apellido</label>
        <input type="text" id="apellidoEditado" placeholder="Ingrese el nuevo apellido" formControlName="apellido">
         @if (editarPerfil.get('apellido')?.touched) {
            @if(editarPerfil.controls['apellido'].errors?.['required']){
                <p>El apellido es obligatorio</p>
            } @else if(editarPerfil.controls['apellido'].errors?.['maxlength']){
                <p>El apellido debe tener como máximo 50 caracteres</p>
            }
        }
    </fieldset>    
    <fieldset>
        <label for="telefonoEditado">Teléfono</label>
        <input type="number"  id="telefonoEditado" placeholder="Ingrese el nuevo teléfono" formControlName="telefono">
     @if (editarPerfil.get('telefono')?.touched) {
                @if(editarPerfil.controls['telefono'].errors?.['required']){
                    <p>El teléfono es obligatorio</p>
                } @else if(editarPerfil.controls['telefono'].errors?.['maxlength']){
                    <p>El teléfono debe tener como máximo 50 numeros</p>
                }@else if (editarPerfil.controls['telefono'].errors?.['minlength']) {
                    <p>El teléfono debe tener como mínimo 8 números</p>
                }@else if (editarPerfil.controls['telefono'].errors?.['pattern']) {
                    <p>El teléfono debe tener únicamente números</p>
                }
            }
    </fieldset>

  <div class="botones">
      <button class="boton-guardar" type="submit" [disabled]="editarPerfil.invalid">Guardar cambios </button>
      <button class="boton-eliminar" type="button" (click)="cambiarContrasenia()"> Cambiar contraseña</button>
  </div>

</form>

