<div class="principal">
    <a [routerLink]="['/detallePedido/', pedido?.id]">
    <h1 class="estiloText">ID pedido {{pedido?.id}}</h1>
    <p class="estiloText">Nombre del cliente {{pedido?.cliente?.nombre}} {{pedido?.cliente?.apellido}}</p>
    <p class="estiloText">Direccion de Entrega {{pedido?.direccionEntrega?.calle}} {{pedido?.direccionEntrega?.numero}}  
        @if(pedido?.direccionEntrega?.depto && pedido?.direccionEntrega?.piso){
        Depto {{pedido?.direccionEntrega?.piso}} {{pedido?.direccionEntrega?.depto}}} </p>
    <p class="estiloText">Estado {{pedido?.estado}}</p>
    <p class="estiloText">Tipo de entrega {{pedido?.tipoEntrega}}</p>
    <p class="estiloText">Total ${{pedido?.total}}</p>
    </a>
</div>