<div class="infoPedido">
    <a [routerLink]="['/detallePedido/', pedido?.id]">
    <h1 class="estiloPedido">ID pedido {{pedido?.id}}</h1>
    <h2 class="estiloPedido">Nombre del cliente {{pedido?.cliente?.nombre}} {{pedido?.cliente?.apellido}}</h2>
    <h2 class="estiloPedido">Direccion de Entrega {{pedido?.direccionEntrega?.calle}} {{pedido?.direccionEntrega?.numero}}  
        @if(pedido?.direccionEntrega?.depto && pedido?.direccionEntrega?.piso){
        Depto {{pedido?.direccionEntrega?.piso}} {{pedido?.direccionEntrega?.depto}}} </h2>
    <h2 class="estiloPedido">Estado {{pedido?.estado}}</h2>
    <h2 class="estiloPedido">Tipo de entrega {{pedido?.tipoEntrega}}</h2>
    <h2 class="estiloPedido">Total ${{pedido?.total}}</h2>
    </a>
</div>