.infoPedido{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    align-items: flex-start;
    padding: 0.5rem;
}

.infoPedido a {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none; /* para sacar el subrayado */
  color: inherit; /* mantiene el color del texto */
}


.estiloPedido{
    color: white;
}

h1.estiloPedido{
    font-size: 1.5rem;
}