<form [formGroup]="editarPassword" (ngSubmit)="manejarModificacionPassword()">
    <h1>Cambiar contraseña</h1>

  <fieldset>
    <label for="passwordActual">Contraseña Actual</label>
    <input type="password" id="passwordActual" placeholder="Ingrese la contraseña actual" formControlName="passwordActual">
    @if (editarPassword.controls['passwordActual'].errors?.['required'] 
          && editarPassword.get('passwordActual')?.touched) {
      <p class="error">*Obligatoria</p>
    }
  </fieldset>

  <fieldset>
    <label for="passwordNueva">Contraseña Nueva</label>
    <input type="password" id="passwordNueva" placeholder="Ingrese la nueva contraseña" formControlName="passwordNueva">
    @if (editarPassword.get('passwordNueva')?.touched) {
      @if (editarPassword.controls['passwordNueva'].errors?.['required']) {
        <p class="error">*Obligatoria</p>
      }@else if(editarPassword.controls['password'].errors?.['minlength']){
       <p class="mensajeError">*Debe tener como mínimo 8 caracteres</p>
      }
      @else if(editarPassword.controls['password'].errors?.['pattern']){
        <p class="mensajeError">*Debe tener una minúscula, una mayúscula, un número y un caracter especial</p>
      }
    }
  </fieldset>
    <fieldset>
    <label for="confirmarPasswordNueva">Confirmar Contraseña Nueva</label>
    <input type="password" id="confirmarPasswordActual" placeholder="Confirme la contraseña actual" formControlName="confirmarPasswordNueva">
    @if (editarPassword.controls['confirmarPasswordNueva'].errors?.['required'] 
          && editarPassword.get('confirmarPasswordNueva')?.touched) {
      <p class="error">*Debe confirmar la contraseña nueva</p>
    }
  </fieldset>
<div class="botones">
  <button class="boton-guardar" type="submit" [disabled]="editarPassword.invalid">
    💾 Guardar contraseña
  </button>
</div>
</form>
