<div class="card-base card-direccion-content">
  <!-- Título con ícono -->
    <div class="space-y-2 text-sm">
        <p class="text-gray-900 font-medium">
        {{ direccion?.calle }} {{ direccion?.numero }}
        </p>
        @if (direccion?.piso) {
        <p class="text-gray-600">{{ direccion?.piso }} {{direccion?.depto}} </p>
        }
        <p class="text-gray-900 font-medium">Codigo postal {{direccion?.codigoPostal}}</p>
        <p class="text-gray-900 font-medium">Ciudad {{direccion?.ciudad}}</p>
        @if (direccion?.referencias) {
        <p class="text-gray-500 text-xs">📍  {{direccion?.referencias}}</p>
        }
    </div>
</div>