@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

/* Contenedor general de la dirección */
.infoDireccion {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  color: #444;
  font-family: 'Poppins', sans-serif;
  word-break: break-word; /* evita desbordes de texto largos */
}
/* Texto principal */
.estiloDireccion {
  font-size: 1rem;
  margin: 0;
  color: black;
  font-family: 'Montserrat', sans-serif;
}

/* Subtextos (por ejemplo referencias) */
.infoDireccion h3 {
  font-size: 0.9rem;
  color: #777;
  margin-top: 0.5rem;
  font-style: italic;
}