<div class="infoDireccion">
    <h1 class="estiloDireccion">{{direccion?.calle}}</h1>
    <h1 class="estiloDireccion">{{direccion?.numero}} </h1>
    @if (direccion?.piso) {
        <h2 class="estiloDireccion"> {{direccion?.piso}} {{direccion?.depto}} </h2> }
    <h2 class="estiloDireccion">Codigo postal {{direccion?.codigoPostal}}</h2>
    <h2 class="estiloDireccion">Ciudad {{direccion?.ciudad}}</h2>
    @if(direccion?.referencias){
        <h3>Referencias: {{direccion?.referencias}}</h3>
    }
</div>
