<section class="contenedorGrande">
    <div class="contenedorPrincipal"> 
        <h3 class="subtitulo">Mis direcciones</h3>
        <ul class="contenedorCards">
            @if (arrDirecciones) {
                @for(direccion of arrDirecciones; track $index){
                    <li class="card">
                        <app-direccion-card-component [direccion]="direccion"></app-direccion-card-component>
                        <div class="flex space-x-3">                        
                            <button (click)="modificarDireccion(direccion)" class="btn">Editar</button>
                            <button (click)="eliminarDireccion(direccion.id)" class="btn">Eliminar</button>
                        </div>    
                    </li>
                }
            }@else{
                <p>No tiene direcciones cargadas aun!</p>
            }
        </ul>
        
        <section class="flex justify-center space-x-4 pt-3">
            <button (click)="crearDireccion()" class="form-button">Agregar nueva direccion</button>
        </section>    
    </div>
</section>