<form [formGroup]="inicioSesion" (ngSubmit)="iniciarSesion()"> 
    <fieldset> 
        <label for="email">Email</label> 
        <input type="email" placeholder="Ingrese el mail" formControlName="email"> 
        @if(inicioSesion.controls['email'].errors?.['required'] && inicioSesion.get('email')?.touched){ 
            <p>El email es obligatorio para ingresar</p> 
        }@else if(inicioSesion.controls['email'].errors?.['email'] && inicioSesion.get('email')?.touched){ 
            <p>El email no esta en un formato valido</p> } 
        </fieldset> 
        <fieldset> 
            <label for="contraseña"></label> 
            <input type="text" placeholder="Ingrese la contraseña" formControlName="contraseña"> 
            @if(inicioSesion.controls['contraseña'].errors?.['required'] && inicioSesion.get('contraseña')?.touched){ 
                <p>La contraseña es obligatoria para ingresar</p> 
            }
            </fieldset> 
        <button type="submit" [disabled]="!inicioSesion.valid">Iniciar Sesion</button>
</form>
