<form [formGroup]="editarPassword" (ngSubmit)="manejarModificacionPassword()" class="form-container">

  <fieldset class="form-field">
    <label for="passwordActual" class="form-label">Contraseña Actual</label>
    <input type="password" id="passwordActual" placeholder="Ingrese la contraseña actual" formControlName="passwordActual" class="form-input"
      [class.border-red-500]="getError"
      [class.focus:ring-red-500]="getError">
      @if (getError('passwordActual')){
        <p class="form-error">{{ getError('passwordActual') }}</p>
      }
  </fieldset>

  <fieldset class="form-field">
    <label for="passwordNueva" class="form-label">Contraseña Nueva</label>
    <input type="password" id="passwordNueva" placeholder="Ingrese la nueva contraseña" formControlName="passwordNueva" class="form-input"
      [class.border-red-500]="getError"
      [class.focus:ring-red-500]="getError">
      @if (getError('passwordNueva')){
        <p class="form-error">{{ getError('passwordNueva') }}</p>
      }
  </fieldset>
    <fieldset class="form-field">
    <label for="confirmarPasswordNueva" class="form-label">Confirmar Contraseña Nueva</label>
    <input type="password" id="confirmarPasswordActual" placeholder="Confirme la contraseña actual" formControlName="confirmarPasswordNueva" class="form-input"
      [class.border-red-500]="getError"
      [class.focus:ring-red-500]="getError">
      @if (getError('confirmarPasswordNueva')){
        <p class="form-error">{{ getError('confirmarPasswordNueva') }}</p>
      }
  </fieldset>


 <div style="margin-top: 24px;">
        <button 
            type="submit" 
            [disabled]="editarPassword.invalid || isSubmitting()" 
            class="form-button">
            @if (isSubmitting()) {
                <span class="inline-flex items-center justify-center gap-2">
                    <span class="inline-block w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></span>
                    Editando...
                </span>
            } @else {
                    Editar
            }
        </button>
    </div> 
</form>
