<div class="contenedor-grande">
  <div class="contenedor-principal">
    
    <!-- Header -->
    <div class="mb-8 text-center">
      <h1 class="text-3xl font-bold text-primary-600 mb-2">
        {{ isEditMode ? 'Editar Restaurante' : 'Nuevo Restaurante' }}
      </h1>
      <p class="text-gray-600">
        {{ isEditMode ? 'Modifica los datos del restaurante' : 'Crea tu restaurante' }}
      </p>
    </div>

    <!-- Formulario -->
    <form [formGroup]="restauranteForm" (ngSubmit)="onSubmit()" class="space-y-6">
      
      <div class="form-field">
        <label for="razonSocial" class="form-label">
          Razón Social
        </label>
        <textarea
          id="razonSocial"
          formControlName="razonSocial"
          rows="3"
          placeholder="Mc Donalds"
          class="form-input resize-none">
          
        </textarea>
        @if (getError('razonSocial')) {
          <p class="form-error">
            {{ getError('razonSocial') }}
          </p>
        }
      </div>

      <div class="form-field">
        <label for="activo" class="form-label">
            Activo
        </label>
        <div class="relative">
          <input
            id="activo"
            type="number"
            formControlName="activo"
            step="0.01"
            class="form-input pr-12"
            >
        </div>
        @if (getError('activo')) {
          <p class="form-error">
            {{ getError('activo') }}
          </p>
        }
      </div>

      <!-- Fecha Inicio -->
      <div class="form-field">
        <label for="logoUrl" class="form-label">

        </label>
        <mat-form-field appearance="outline" class="w-full">
          <input 
            matInput 
            formControlName="logoUrl"
            placeholder="Url del logo"
            >
        </mat-form-field>
        @if (getError('logoUrl')) {
          <p class="form-error -mt-4">
            {{ getError('logoUrl') }}
          </p>
        }
      </div>

      <!-- Fecha Fin -->
      <div class="form-field">
        <label for="logoNombre" class="form-label">
          Fecha de Fin *
        </label>
        <mat-form-field appearance="outline" class="w-full">
          <input 
            matInput 
            formControlName="logoNombre"
            placeholder="Nombre para la imagen">
        </mat-form-field>
        @if (getError('logoNombre')) {
          <p class="form-error -mt-4">
            {{ getError('logoNombre') }}
          </p>
        }
      </div>

      <!-- Botones -->
      <div class="flex flex-col sm:flex-row gap-4 pt-6">
        <button 
          type="button"
          (click)="onCancel()"
          class="btn-outline flex-1 order-2 sm:order-1">
          Cancelar
        </button>
        <button 
          type="submit"
          [disabled]="isSubmitting"
          class="btn-primary flex-1 order-1 sm:order-2">
          @if (isSubmitting) {
            <svg class="animate-spin h-5 w-5 mr-2" fill="none" viewBox="0 0 24 24">
              <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor" stroke-width="4"></circle>
              <path class="opacity-75" fill="currentColor" d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"></path>
            </svg>
            Guardando...
          } @else {
            {{ isEditMode ? 'Actualizar Restaurante' : 'Crear Restaurante' }}
          }
        </button>
      </div>
    </form>
  </div>
</div>