<section class="contenedorRegistroUsuario">
<h3> {{modoEdicion ? 'Modificar direccion' : 'Crear nueva direccion'}}</h3>
    <form [formGroup]="formDirecciones" (ngSubmit)="manejarEnvio()" class="formularioRegistro">
        <div class="campos-grid">
                <fieldset>
                    <label for="calleID" class="labelForm">Calle</label>
                    <input type="text" id="calleID" formControlName="calle">
                </fieldset>
                <fieldset>
                    <label for="numeroID"  class="labelForm">Número</label>
                    <input type="text" id="numeroID" formControlName="numero">
                </fieldset>
                <fieldset>
                    <label for="pisoID"  class="labelForm">Piso</label>
                    <input type="text" id="pisoID" formControlName="piso">
                </fieldset>
                <fieldset>
                    <label for="deptoID"  class="labelForm">Depto</label>
                    <input type="text" id="deptoID" formControlName="depto">
                </fieldset>
                <fieldset>
                    <label for="codigoPostalID"  class="labelForm">Código Postal</label>
                    <input type="text" id="codigoPostalID" formControlName="codigoPostal">
                </fieldset>
                <fieldset>
                    <label for="referenciasID"  class="labelForm">Referencias</label>
                    <input type="text" id="referenciasID" formControlName="referencias">
                </fieldset>
                <fieldset>
                    <label for="latitudID"  class="labelForm">Latitud</label>
                    <input type="number" id="latitudID" formControlName="latitud">
                </fieldset>
                <fieldset>
                    <label for="longitudID"  class="labelForm">Longitud</label>
                    <input type="number" id="longitudID" formControlName="longitud">
                </fieldset>
                <fieldset>
                    <label for="ciudadID"  class="labelForm">Ciudad</label>
                    <input type="text" id="ciudadID" formControlName="ciudad">
                </fieldset>
         <div class="cajaBoton">
            <button type="submit" class="boton">{{modoEdicion ? 'Modificar' : 'Crear'}}</button>
        </div>       
        
    </div>    
</form>            
</section>