<form [formGroup]="formHorarioAtencion" (ngSubmit)="manejarEnvio()" class="form-container">
    <fieldset class="form-field">
        <label for="diaId" class="form-label">Dia</label>
        <select id="diaId" formControlName="dia"class="form-input"
            [class.border-red-500]="formHorarioAtencion.get('dia')?.invalid && formHorarioAtencion.get('dia')?.touched">
            <option value="" disabled selected>Seleccionar tipo</option>
            <option value="lunes">Lunes</option>
            <option value="martes">Martes</option>
            <option value="miercoles">Miercoles</option>
            <option value="jueves">Jueves</option>
            <option value="viernes">Viernes</option>
            <option value="sabado">Sabado</option>
            <option value="domingo">Domingo</option>
        </select> 
        @if (formHorarioAtencion.get('dia')?.touched && formHorarioAtencion.controls['dia'].errors?.['required']) {
                <p class="form-error">*Obligatorio</p>
            } 
    </fieldset>
    <fieldset class="form-field">
        <label class="form-label">Hora de apertura</label>
        <div class="time-picker-container">
            <div class="time-unit-wrapper">
                <input type="number" id="horaAId" formControlName="horaA" class="form-input"
                    [class.border-red-500]="getError('horaA')"
                    [class.focus:ring-red-500]="getError('horaA')">
                    <span class="unit-label">Hora</span>
                @if (getError('horaA')) {
                        <p class="form-error">{{ getError('horaA') }}</p>
                    }
            </div>    
        
        <span class="time-separator">:</span>
        
            <div class="time-unit-wrapper">
                <input type="number" id="minuteAId" formControlName="minuteA"class="form-input"
                    [class.border-red-500]="getError('minuteA')"
                    [class.focus:ring-red-500]="getError('minuteA')">
                    <span class="unit-label">Minuto</span>
                @if (getError('minuteA')) {
                        <p class="form-error">{{ getError('minuteA') }}</p>
                    }
            </div>
        </div> 
    </fieldset>

    <fieldset class="form-field">
        <label class="form-label">Hora de cierre</label>
        <div class="time-picker-container">
            <div class="time-unit-wrapper">
                <input type="number" id="horaCId" formControlName="horaC" class="form-input"
                    [class.border-red-500]="getError('horaC')"
                    [class.focus:ring-red-500]="getError('horaC')">
                    <span class="unit-label">Hora</span>
                @if (getError('horaC')) {
                        <p class="form-error">{{ getError('horaC') }}</p>
                    }
            </div>    
        
        <span class="time-separator">:</span>
        
            <div class="time-unit-wrapper">
                <input type="number" id="minuteCId" formControlName="minuteC"class="form-input"
                    [class.border-red-500]="getError('minuteC')"
                    [class.focus:ring-red-500]="getError('minuteC')">
                    <span class="unit-label">Minuto</span>
                @if (getError('minuteC')) {
                        <p class="form-error">{{ getError('minuteC') }}</p>
                    }
            </div>
        </div> 
    </fieldset>
    <div style="margin-top: 24px;">
        <button 
            type="submit" 
            [disabled]="formHorarioAtencion.invalid || isSubmitting()" 
            class="form-button">
            @if (isSubmitting()) {
                <span class="inline-flex items-center justify-center gap-2">
                    <span class="inline-block w-4 h-4 border-2 border-white border-t-transparent rounded-full animate-spin"></span>
                    {{modoEdicion ? 'Editando...' : 'Creando...' }}
                </span>
            } @else {
                    {{modoEdicion ? 'Editar' : 'Crear' }}
            }
        </button>
    </div>       
</form>

