<section class="contenedorRegistroUsuario">
    <h1 class="text-4xl text-[#E3291D] font-black tracking-widest mb-12 mt-10">Registro</h1>        

    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="formularioRegistro">
        <div class="campos-grid">
            <fieldset>
                <label for="nombre" class="labelForm">Nombre</label>
                <input type="text" id="nombre" formControlName="nombre" class="inputForm">
                @if (userForm.get('nombre')?.touched) {
                    @if(userForm.controls['nombre'].errors?.['required']){
                        <p class="mensajeError">*Obligatorio</p>
                    } @else if(userForm.controls['nombre'].errors?.['maxlength']){
                        <p class="mensajeError">*Debe tener como maximo 50 caracteres</p>
                    }@else if (userForm.controls['nombre'].errors?.['pattern']) {
                        <p class="mensajeError">*No debe tener números</p>
                    }
                }
            </fieldset>
            <fieldset>
                <label for="apellido" class="labelForm">Apellido</label>
                <input type="text" id="apellido" formControlName="apellido" class="inputForm">
                @if (userForm.get('apellido')?.touched) {
                    @if(userForm.controls['apellido'].errors?.['required']){
                       <p class="mensajeError">*Obligatorio</p>
                    } @else if(userForm.controls['apellido'].errors?.['maxlength']){
                        <p class="mensajeError">*Debe tener como maximo 50 caracteres</p>
                    }@else if (userForm.controls['apellido'].errors?.['pattern']) {
                        <p class="mensajeError">*No debe tener números</p>
                    }
                }
            </fieldset>
            <fieldset>
                <label for="telefono" class="labelForm">Teléfono  </label>
                <input type="text" id="telefono" formControlName="telefono" class="inputForm">
                    @if (userForm.get('telefono')?.touched) {
                        @if(userForm.controls['telefono'].errors?.['required']){
                            <p class="mensajeError">*Obligatorio</p>
                        } @else if(userForm.controls['telefono'].errors?.['pattern']){
                            <p class="mensajeError">*Ingrese un teléfono válidp (ej. +54 9 223 123456).</p>
                        }

                    }
            </fieldset>
            <fieldset>
                <label class="labelForm">¿Cómo queres registrarte?</label>
                
                <select formControlName="rolId" 
                        class="bg-white p-2 w-full rounded-lg text-gray-800 border-none appearance-none">
                    <option [value]="2">Cliente</option>
                    <option [value]="3">Restaurante</option>
                </select>
                @if (userForm.get('rolId')?.touched) {
                        @if(userForm.controls['rolId'].errors?.['required']){
                            <p class="mensajeError">*Obligatorio</p>
                        } 
                    }
            </fieldset>
            <fieldset class="span-2-columns">
                <label for="email" class="labelForm">Email  </label>
                <input type="email" id="email" formControlName="email" class="inputForm">
                    @if (userForm.get('email')?.touched) {
                        @if(userForm.controls['email'].errors?.['required']){
                            <p class="mensajeError">*Obligatorio</p>
                        }@else if(userForm.controls['email'].errors?.['maxlength']){
                            <p class="mensajeError">*Debe tener como máximo 100 caracteres</p>}
                        @else if(userForm.controls['email'].errors?.['email']){
                            <p class="mensajeError">*Debe contener @</p>
                        }
                }
            </fieldset>
            <fieldset clas="span-2-columns">
                <label for="password" class="labelForm">Contraseña  </label>
                <input type="password" id="password" formControlName="password" class="inputForm">
                @if (userForm.get('password')?.touched) {
                        @if(userForm.controls['password'].errors?.['required']){
                            <p class="mensajeError">*Obligatoria</p>
                        }@else if(userForm.controls['password'].errors?.['minlength']){
                            <p class="mensajeError">*Debe tener como mínimo 8 caracteres</p>
                        }@else if(userForm.controls['password'].errors?.['pattern']){
                            <p class="mensajeError">*Debe tener una minúscula, una mayúscula, un número y un caracter especial</p>
                        }
                }
            </fieldset>
        </div>

        <div class="cajaBoton">
            <button [disabled]="userForm.invalid" type="submit" class="boton">Registrarse</button>
        </div>
    </form>
</section>