<div class="navbar-search w-full">
  <div class="relative">
    <input
      type="text"
      [formControl]="searchTerm"
      placeholder="Buscar..."
      maxlength="50"
      class="w-full appearance-none bg-gray-50/50 border border-black rounded-md px-3 py-1.5 pr-10
             text-gray-700 text-xs placeholder:text-black
             focus:outline-none focus:ring-1 focus:ring-red-400 focus:border-red-800
             transition-all hover:bg-gray-50">
    
    @if(searchTerm.value){
    <button 
      (click)="onSearchClear()"
      class="absolute inset-y-0 right-0 pr-3 flex items-center">
      <svg class="w-4 h-4 text-gray-400 hover:text-gray-600 transition-colors" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" 
              d="M6 18L18 6M6 6l12 12" />
      </svg>
    </button>
    }
  </div>
</div>