<footer class="footer-container bg-stone-100 border-t border-stone-200 py-4 mt-auto">
  <div class="max-w-7xl mx-auto px-4">
    <div class="flex flex-col items-center gap-2 text-center">
      <div class="text-sm text-gray-600">
        <p><span class="font-semibold">Contacto:</span> Tel: +54 9 223 5010868 | Email: mordiscoapp@gmail.com</p>
      </div>

      <div class="text-sm text-gray-600">
        <p>© Mordisco {{ currentYear }} — Todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</footer>
