<footer class="footer-container">
  <div class="footer-content">
     <div class="grid grid-cols-1 md:grid-cols-2 gap-4 items-center mb-4">
      <div>
        <p class="text-sm text-gray-600">
          © Mordisco {{ currentYear }} — Todos los derechos reservados.
        </p>
      </div>

      <div class="md:text-right text-sm text-gray-600">
        <p><span class="font-semibold">Contacto:</span></p>
        <p>Tel: +54 9 223 5010868</p>
        <p>Email: mordiscoapp@gmail.com</p>
      </div>
    </div>
  </div>
</footer>
